@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

html {
  overflow-y: scroll;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}


.text-container {
  overflow: hidden;
  width: fit-content;
  border-right: 2px solid #1F2937;
  white-space: nowrap;
  animation: typing 3s steps(30) forwards, blink 0.8s infinite;
}

.text {
  font-size: 24px;
  color: #1F2937;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
